/* 
  Actor details page CSS, it's a geral CSS file
*/

#main-content {
  height: 100vh;
  width: 100vw;
}


.Image-Box {
  height: 100%;
  width: 375px;
  background-color: #201f2b;
  padding: 10px;
  align-content: center;
}
.image {
  height: 50%;
  width: 100%;
}
.Info {
  align-content: center;
  height: 100%;
  width: 375px;
  padding: 10px;
  background-color: blue;
}
