.movies-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100%;
  padding: 20px 0;
}

h1{
  display: flex;
  justify-content:center;
  color:#e6e8e6;
}

.MuiContainer-root{
  margin-top: 60px !important;
} 

.movie-poster{
  height: 475px;
  width: 100%;
}
.movie-item {
  flex-shrink: 0;
  height: 585px;
  width: 300px;
  text-align: center;
  color:#e6e8e6;
} 
